@import 'reset';
@import 'font';
@import 'var';
@import 'responsive';
body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

#wrapper {
    max-width: 90%;
    margin: auto;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    .title {
        text-align: center;
        h1 {
            font-size: 3rem;
            letter-spacing: 10px;
            text-transform: uppercase;
            font-weight: 700;
            color: $dark-color;
            margin-bottom: .5rem;
        }
        h2 {
            font-size: 1.5rem;
            text-transform: uppercase;
            font-weight: 300;
            letter-spacing: 5px;
            color: $primary-color;
        }
    }
}

.contact {
    li {
        padding: .7rem 0;
    }
    .fas,
    .far {
        font-size: 1.2rem;
        color: $dark-color;
        margin-right: .5rem;
    }
}

.competence {
    .description {
        position: relative;
        display: inline-block;
        cursor: pointer;
        li {
            padding: .6rem 0;
        }
        .tooltip {
            position: absolute;
            background-color: whitesmoke;
            color: rgb(0, 0, 0);
            font-weight: 700;
            line-height: 1.5rem;
            text-align: center;
            border-radius: .5rem;
            display: none;
            width: 17rem;
            padding: .5rem 0;
            z-index: 1;
            top: 1.5rem;
            left: -4rem;
        }
    }
}

.formation {
    .title {
        .detail-formation {
            margin-left: .5rem;
            .fas {
                font-size: 1.5rem;
                color: $primary-color;
            }
        }
    }
}

footer {
    background-color: $dark-color;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .container {
        .fab {
            font-size: 2rem;
            color: $white-color;
        }
    }
}

.title {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: .5rem;
    font-size: 1rem;
    color: $dark-color;
}

.sub-title {
    font-weight: 300;
    text-transform: uppercase;
    color: $dark-color;
}

.description {
    margin-top: .7em;
}

.section-header {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: .5rem;
    font-weight: 700;
    color: $primary-color;
}

section {
    margin: 3rem 0;
}


/** Grid system*/

.grid-container {
    display: grid;
    // grid-template-columns: auto auto auto;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.grid-item {
    margin: 1.5rem;
}


/** Generic classes for padding and margin*/

.py-1 {
    padding: 1rem 0;
}

.mt-1 {
    margin-top: 1rem;
}

.py-s {
    padding: .5rem 0;
}

.mr-1 {
    margin-right: 1rem;
}