@media only screen and (max-width: 740px) {
    .banner {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .img-profile {
            margin-bottom: 1rem;
        }
    }
}

@media only screen and (max-width: 570px) {
    #wrapper {
        text-align: center;
    }
    .hobbies {
        margin-bottom: 0 !important;
    }
    .introduction {
        margin-top: 0 !important;
    }
}

@media only screen and (max-width: 480px) {}